<div class="controls">
  <input
    #fromInput
    type="text"
    [value]="defaultFrom"
    (input)="parseDates( fromInput.value, toInput.value )"
    placeholder="From:"
    class="input"
  />
  <span class="separator">
    &mdash;
  </span>
  <input
    #toInput
    type="text"
    [value]="defaultTo"
    (input)="parseDates( fromInput.value, toInput.value )"
    placeholder="To:"
    class="input"
  />
</div>
<ul *ngIf="deltas.length" class="deltas">
  <li *ngFor="let delta of deltas" class="delta">
    {{ delta }}
  </li>
</ul>